* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box !important;

}
/* -------Global Use -----*/
a,
a:hover {
    text-decoration: none !important;
    color: #fff;
}
.active{
    color: #0ba376 !important;
}
::-webkit-scrollbar{
    width: 5px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
background: transparent;
}
/* ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
   
  } */
/* ----./Global Use---- */

html {

    background: linear-gradient(#0b7080, #0ba376);
    margin: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
    overflow: auto;
    
}

body {
    height: 100% !important;
    width: 100% !important;
    background-color: transparent !important;
}

.background-div {
    width: 100% !important;
    height: 100% !important;
    background-image: url(../png/main_bg.png);
    background-size: cover !important;
    background-position: center center !important;
    background-color: transparent !important;
    background-repeat: no-repeat !important;
    z-index: -1 !important;
    position: absolute;
    top: -18px;
    left: -18px;

}



.row{
    height: inherit !important;
    width: auto !important;
}
.page-content {
    position: relative;
    width: 80% !important;
    height: 80vh !important;
    margin: 35px 135px !important;
    background-color: #555; /* display: flex; */
    box-shadow: -13px 3px 15px 14px rgba(0, 0, 0, .25);
    padding: 0 !important;
    overflow: visible !important;
    max-height: 100% !important;
    max-width: 100% !important;/* border: 1px solid #dee2e6;  */
    border-radius: 20px;
   
}

.header-content {
    width: auto;
    height: inherit !important;
    text-align: center;
    padding: 20px;
    overflow: auto;
    color: #555;
    background-color: #555;
    border-radius: 20px 0px 0px 20px;
    overflow: auto !important ;
     /* display: inline-block; */
    /* height: auto !important; */
    /* max-height: 80vh;
    min-height: inherit; */
}




/* =======================================---HEADER_PART_---============================= */
.header-photo {
    height: auto;
    max-height: 150px;
    width: auto;
    max-width: 150px;
    margin: 0 auto 15px;
}

.header-photo img {

    height: auto;
    max-height: 150px;
    max-width: 70%;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
}

/* .header-photo:after {
    position: absolute;
    opacity: .3;
    top: -8%;
    left: -15%;
    border-radius: 300px;
    content: '';
    height: calc(100% + 0px);
    width: calc(100% + 0px);
    background-image: -webkit-repeating-radial-gradient(center center,#fff,#fff 1px,transparent 0,transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center,#fff,#fff 1px,transparent 0,transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center,#fff,#fff 1px,transparent 0,transparent 100%);
    -webkit-background-size: 6px 6px;
    -moz-background-size: 6px 6px;
    background-size: 6px 6px;
    z-index: -1;
} */

.header-titles,
.home-titles {
    color: #fff;
    margin: 5px 0 7px;
    line-height: 1.2em;
    text-transform: capitalize;
    text-rendering: optimizeSpeed;
    text-align: center !important;
}

.header-titles-name {
    font-size: 22px;
    font-weight: 600;

}

.header-titles-role {
    font-size: 16px;
    font-weight: 500;
    color: #999;

}

.home-titles-name {
    font-size: 46px;
    font-weight: 600;
    /* line-height: 74px; */
    /* font-size: 60px; */

}

.home-titles-role {
    color: #888;
    font-size: 22px;
    font-weight: 300;
    /* padding: 0 50px; */
}

.social-links {
    margin: 0;
}

.social-links ul {
    list-style: none;
    padding: 0;
}

.social-links ul li {
    display: inline-block;
}

.social-links ul li a {
    color: #fff;
    border-radius: 20px;
    font-size: 18px;
    padding: 0;
    height: 30px;
    width: 30px;
    display: block;
    line-height: 30px;
    text-align: center;
    opacity: .9;
}

.mobile-visible {
    visibility: hidden !important;
}

@media only screen and (min-width: 1025px) {

    ul.main-menu {
            display: inline-flex !important;
            position: absolute;
            padding: 10px 10px;
            margin: 0;
            width: auto;
            height: 60px;
            background-color: #555 !important;
            right: 220px;
            border-radius: 40px;
            z-index: 99;
            list-style: none;
            top: 40px;
            box-shadow: -1px -1px 20px -5px rgba(0, 0, 0, 1);
    }
    
    ul.main-menu .link-text {
        position: absolute;
        width: auto; 
        visibility: hidden;
        opacity: 0;
        padding: 2px 10px;
        background-color: #0ba376;
        white-space: nowrap;
        right: 0;
        top: -50%;
        margin-top: 50%;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        z-index: 0;
        box-shadow: 0 10px 10px -8px rgba(0, 0, 0, .22);
        font-size: 11px;
    }

    ul.main-menu a {
        /* display: block; */
        position: relative;
        color:#b5b6b7 !important;
        padding: 20px;
        /* -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; */

    }

    /* ul.main-menu .menu-icon {
        display: block;
        font-size: 22px;
        width: 100%;
        height: auto;
        color: #b5b6b7!important;

    } */

    .link-text {
        background-color: #0ba376;
        color: #fff !important;
    }

    ul.main-menu a:hover .link-text {
        right: 10%;
        /* top: 15px; */
        visibility: visible;
        opacity: 1;
    }

    ul.main-menu a.active,
    ul.main-menu a:hover,
    .menu-icon:hover,
    .navigation-arrow:hover,
    .social-icon:hover {
        color: #0ba376 !important;
    }

    .navigation-arrows-div {
        position: absolute;
        padding: 10px 0;
        width: 60px;
        right: -80px;
        background-color: #444;
        border-radius: 35px;
        z-index: 98;
        list-style: none;
        bottom: 0;
        -webkit-box-shadow: 0 0 30px -5px rgba(0, 0, 0, .15);
        -moz-box-shadow: 0 0 30px -5px rgba(0, 0, 0, .15);
        box-shadow: 0 0 30px -5px rgba(0, 0, 0, .15);
    }

    .navigation-arrow {
        display: block;
        position: relative;
        text-align: center;
        color: #b5b6b7;
        padding: 10px 20px;
        font-size: 20px;
        cursor: pointer;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

}

/* ./@media only screen and (min-width: 1025px) 
for navigation menu  Desktop Version*/



.download-btn,
input[type="button"],
input[type="submit"] {
    display: inline-block !important;
    position: relative !important;
    padding: 5px 10px !important;
    /* margin-bottom: .75em!important; */
    /* margin-right: .25em!important; */
    font-size: 14px !important;
    line-height: 1.2 !important;
    border: 0 !important;
    outline: 0 !important;
    border: 2px solid #fff !important;
    color: #fff !important;
    text-shadow: none !important;
    background-color: transparent !important;
    border-radius: 30px !important;
    font-family: 'Poppins', Helvetica, sans-serif !important;
    -webkit-transition: all 0.3s ease-in-out !important;
    -moz-transition: all 0.3s ease-in-out !important;
    -o-transition: all 0.3s ease-in-out !important;
    -ms-transition: all 0.3s ease-in-out !important;
    transition: all 0.3s ease-in-out !important;
    box-shadow: 0 10px 10px -8px rgba(0, 0, 0, .22) !important;
}

.download-btn:hover {
    background-color: #fff !important;
    color: #0ba376 !important;

}

.copyrights {
    /* color: #fff; */
    /* font-weight: 300;
    color: #b5b6b7;
    width: auto;
    position: absolute;
    bottom: 0;
    left: 15%;
    padding: 5px 0 5px;
    line-height: 14px;
    font-size: 12px;
    text-align: center; */
    display: block;


}

/* =======================================---HEADER_PART_---============================= */


/*=============================================----- BASIC_Body-content-area-------===================================== */
.body-content-area {
    position: absolute;
    right: 0;
    height: 100% !important;
    width: auto;
    background-color: #222;
    border-radius: 32px 20px 20px 32px;
    overflow: auto;
}

.animated-div {
    height: auto;
    width: auto;
    /* padding: 60px; */
}

.animated-section {
    height: auto;
    width: auto;
    padding: 5% 2%;

}

.section-title{
    font-size: 16px;
    font-weight: 500;
    color: #666; /*  #b5b6b7 */
    text-transform: uppercase;
}
.section-titles-name{
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}


/*=============================================----- BLog-Area-------===================================== */



.blog-sidebar {
    position: fixed;
    display: block;
    width: 310px;
    right: -310px;
    background-color: #222;
    padding: 0;
    top: 0;
    height: 100%;
    float: none;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.66s ease-in-out;
    -moz-transition: all 0.66s ease-in-out;
    -o-transition: all 0.66s ease-in-out;
    -ms-transition: all 0.66s ease-in-out;
    transition: all 0.66s ease-in-out;
}


/* SideBar--toggler =====-- Hamburger & Close Icon  */
.sidebar-toggle span,
.sidebar-toggle span:before {
    background: #aaa;
}

.sidebar-toggle {
    position: absolute;
    display: none;
    width: 48px;
    height: 48px;
    line-height: 46px;
    text-align: center;
    left: -48px;
    font-size: 19px;
    top: 25px;
    border: 2px solid #d5d6d7;
    border-right-width: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    background-color: #222;
    border-color: #444;

}

.sidebar-toggle span {
    display: block;
    position: absolute;
    height: 2px;
    width: 40%;
    background: #666;
    border-radius: 5px;
    opacity: 1;
    left: 17px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.sidebar-toggle span:nth-child(1) {
    top: 14px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.sidebar-toggle.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 15px;
}

.sidebar-toggle span:nth-child(2) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.sidebar-toggle.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.sidebar-toggle span:nth-child(3) {
    top: 26px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.sidebar-toggle.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 28px;
}

/*----./SideBar--toggler =====-- Hamburger & Close Icon  */

.blog-sidebar.open {
    right: 0;
    -webkit-box-shadow: 0 0 20px 5px rgba(0, 0, 0, .08);
    -moz-box-shadow: 0 0 20px 5px rgba(0, 0, 0, .08);
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, .08);
} /*  when blog-sider is open*/

.blog-sidebar .blog-sidebar-content {
    overflow: auto;
    height: 100%;
    padding: 15px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.66s ease-in-out;
    -moz-transition: all 0.66s ease-in-out;
    -o-transition: all 0.66s ease-in-out;
    -ms-transition: all 0.66s ease-in-out;
    transition: all 0.66s ease-in-out;
}

.blog-sidebar.open .blog-sidebar-content {
    opacity: 1;
    visibility: visible;
}/*  when blog-sider is open*/

.clearfix:after {
    clear: both;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.blog-sidebar .sidebar-item {
    margin-bottom: 10px;
    font-size: .9em;
    border: 2px solid #e5e6e7;
    /* background-color: #222; */
    background-color: #333 !important;
    border-color: #444 !important;
    border-radius: 5px;
}

/* Div.sidebar-item ---==--- For Search-Bar */
.search-form label:after {
    height: 48px;
    width: 48px;
    position: absolute;
    top: 0;
    right: 0;
    content: "\f002";
    font-size: 22px !important;
    font-family: 'FontAwesome';
    line-height: 48px;
    text-align: center;
    border-left: none;
    color: #d5d6d7;
}

.search-form {
    position: relative;
    overflow: hidden;
}

.search-form label {
    font-weight: inherit;
    width: 100%;
    margin: 0;
}

.search-form label span {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    text-indent: -3000px;
    opacity: .35;
    margin: 0;
}


.screen-reader-text,
.screen-reader-text span {
    position: absolute;
    top: -10000em;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    word-wrap: normal !important;
}

.search-submit,
.search-form input[type="search"],
.search-form input[type="text"] {
    padding: 10px 50px 10px 16px;
    margin-bottom: 0;
    position: relative;
    border: none;
    width: 100%;
    height: 48px;
    color: inherit;
    outline: none;
    border: none;
    background-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.search-form input[type="submit"],
.search-submit,
.search-form input[type="submit"]:hover,
.search-form input[type="submit"]:focus {
    position: absolute !important;
    top: 0;
    right: 0;
    height: 48px;
    width: 48px;
    background: transparent;
    border: none !important;
    z-index: 1000;
    cursor: pointer;
    text-indent: -200px;
    overflow: hidden;
    border-radius: 0 !important;
    box-shadow: none !important;
}

/*-----./ Div.sidebar-item -=======- For Search-Bar */

/*-----.sidebar-item(2).sidebar-title -=======- For Header  */


.blog-sidebar .sidebar-title h4:after {
    position: absolute;
    opacity: .45;
    top: -5px;
    left: -9px;
    content: '';
    height: 20px;
    width: 20px;
    background-image: -webkit-repeating-radial-gradient(center center, #0ba376, #0ba376 1px, transparent 0, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, #0ba376, #0ba376 1px, transparent 0, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, #0ba376, #0ba376 1px, transparent 0, transparent 100%);
    -webkit-background-size: 6px 6px;
    -moz-background-size: 6px 6px;
    background-size: 6px 6px;
    z-index: 0;
}
.blog-sidebar h6,
.blog-sidebar .sidebar-title {
    display: block;
    position: relative;
    padding: 5px 22px 0;
    margin: 15px 0 0 0;
    color: #fff;
}

.blog-sidebar .sidebar-title h4 {
    display: inline-block;
    font-size: 17px;
    position: relative;
    margin: 0;
}
/*-----./.sidebar-item(2).sidebar-title -=======- For Header  */

/*-----.sidebar-item(2).ul -=======- For blog-list  */




.blog-sidebar ul{
    display: inline-block;
    max-width: 100%;
    padding: 2px 20px 15px;
    margin: 4px 0;
    list-style: none;
}

.blog-sidebar ul li {
    padding-left: 15px;
    margin: 5px 0;
    position: relative;
    color: #aaa;
    font-size: 13px !important;
}

.blog-sidebar ul li:before {
    content: '';
    position: absolute;
    left: 0;
    border: 2px solid #0ba376;
    height: 7px;
    width: 7px;
    border-radius: 8px;
    display: inline-block;
    top: 7px;
}

.blog-sidebar a {
    color: #e5e5e5 !important;
}


.blog-sidebar a:hover {
    color: inherit;
}

.skill-btn {
    background-color: #fff !important;
    color: #0ba376 !important;
    padding: 5px 17px !important;
    margin: 5px;
}












/* ============================-------- Media-Queries az----------------------s===================== */





















@media only screen and (max-width: 1024px) {
    /* .mobile-visible {
        display: block;
        visibility: visible !important;
    } */
    .html{
        background: none;
        background-color: #fff;
    }
    .body{
        width: 100%;
        height: 100%;
    }
    .Background-div {
        visibility: hidden !important;
    }
    .page-content {
        margin: 0 !important;
        width: 100% !important;
        height: 100% !important;
        max-height: 100% !important;
    }
    .header-content {
        z-index: 100;
        display: inline-block;
        width: 100%;
        max-width: 100% !important;
        height: 100%;
        max-height: 100vh;
        min-height: inherit;
        text-align: center;
        padding: 80px 15px;
        /* overflow: auto; */
        color: #555;
        background-color: #555;
        border-radius: 0px;
        margin: 0px !important;
    }
    .body-content-area{
        border-radius: 0px;
    }
    
    
    
    .mobile-site-title a,
    .mobile-site-title a:hover,
    .mobile-site-title a:focus {
        position: absolute;
        display: inline-block;
        font-weight: 600;
        padding: 10px;
        z-index: 99;
        left: 20px;
        top: 10px;
        border-radius: 5px;
        background-color: rgba(34, 34, 34, .8);
        color: #f5f5f5;
        font-size: 18px;

    }

    /* .mobile-menu-hide {
        width: 0;
        right: 0;
        margin-right: -100%;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    } */

    

    
   
/* ========================--------./ Header-content_-_Mobile-View-------============================================ */ 

    /* for mobile view header is in green color */

    /* .header-content {
        margin: 0px !important;
    } */

    .header-photo {
        max-width: 130px;
        margin-bottom: 25px;
    }

    .header-titles h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .header-titles h4 {
        font-size: 17px;
    }

    header .copyrights {
        right: 0;
        width: 100%;
        position: relative;
        margin-top: 30px;
    }

    ul.main-menu {
        /* display: inline-flex !important; */
        display: none;
        position: absolute;
        padding: 10px 0px;
        margin: 5px 20px;
        width: auto;
        /* min-width: 750px; */
        height: 60px;
        background-color: #555 !important;
        /* background: linear-gradient(#0b7080, #0ba376); */
        /* background: linear-gradient(rgba(11, 112, 128, 1), rgba(11, 163, 118, 0.8)); */
        left: 60px;
        /* right: 0px; */
        border-radius: 40px;
        z-index: 99;
        list-style: none;
        box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.59);
        top: 0px;
        border: 10px;
        /* visibility: hidden; */
        transition: all 5s ease !important;
    }
    ul.show-mobile-menu{
        visibility: visible;
        display: inline-flex !important;
        z-index: 1000 !important;
    }
     
    ul.main-menu .link-text {
        position: absolute;
        width: auto; 
        visibility: hidden;
        opacity: 0;
        padding: 2px 10px;
        background-color: #0ba376;
        white-space: nowrap;
        right: 0;
        top: -50%;
        margin-top: 50%;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        z-index: 0;
        box-shadow: 0 10px 10px -8px rgba(0, 0, 0, .22);
        font-size: 11px;
    }

    ul.main-menu li {
        margin: 0;
    }

    ul.main-menu a {
        display: block;
        color: #fff;
        padding: 10px 25px;
        line-height: 21px;
        opacity: .7;
    }

    ul.main-menu a.active {
        opacity: 1;
        color: #0ba376;
    }
    /* for hiding menu icon  in mobile view*/
    /* ul.main-menu .menu-icon {
            display: none;
    } */

    .social-links {
        margin: 20px 0 !important;
        /* margin: 0; */
    }

  
    /* For Navigation Button */
    .navigation-arrows-div {
        position: absolute;
        border-color: #0ba376 !important;
        width: 55px;
        right: 10px;
        bottom: 10px;
        padding: 5px 0;
        border: 2px solid #0ba376;
        background-color: #444 !important;
        border-radius: 35px;
        z-index: 98;
        list-style: none;
        -webkit-box-shadow: 0 0 30px -5px rgba(0, 0, 0, .15);
        -moz-box-shadow: 0 0 30px -5px rgba(0, 0, 0, .15);
        box-shadow: 0 0 30px -5px rgba(0, 0, 0, .15);
    }

    .navigation-arrow {
        display: block;
        position: relative;
        text-align: center;
        color: #b5b6b7;
        padding: 10px 10px;
        font-size: 24px;
        cursor: pointer;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
/* ========================--------./ Header-content_-_Mobile-View-------============================================ */ 

/* ========================--------For Body-content_-_Mobile-View-------============================================ */
    .animated-section {
        padding: 75px 25px;
        border-radius: 0;
        overflow: auto !important;
    }

    .home-titles-div {
        /* font-size: 48px;
        line-height: 56px;
        margin: 0 0 10px;
        text-align: center; */
        padding: 100px !important;
    }

    .sidebar-toggle {

        top: 105px !important;
        
    }

    .blog-sidebar {
        top: 0;
        height: 100%;
        min-height: 100%;
        width: 275px;
        padding-top: 55px;
        right: -275px;
        z-index: 1000!important;
    }

    /* for toggling header part */
    .menu-toggle {
        position: absolute;
        display: block;
        width: 48px;
        height: 48px;
        line-height: 46px;
        text-align: center;
        background-color: #0ba376 !important;
        left: 10px;
        font-size: 19px;
        top: 10px;
        border-radius: 30px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        z-index: 900;
    }

    .menu-toggle span {
        display: block;
        position: absolute;
        height: 3px;
        width: 50%;
        background: #fff;
        border-radius: 5px;
        opacity: 1;
        left: 25%;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    /*   For showing hamburger Icon in green color */
    .menu-toggle span:nth-child(1) {
        top: 16px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    .menu-toggle span:nth-child(2) {
        top: 22px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    .menu-toggle span:nth-child(3) {
        top: 28px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    /*  .open class is added in menu-toggle-div for showing header part  
                        to make cross icon for close                         */
    .menu-toggle.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 13px;
        left: 15px;
    }

    .menu-toggle.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }

    .menu-toggle.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 30px;
        left: 15px;
    }

}